@import "../common/styles";

.input-with-button {
    display: flex;

    .input {
        min-width: 325px;
        height: 100%;
    }

    .button {
        height: 100%;
    }

        * {
            margin-right: 0 !important;
        }

    &.input-first {
        .input {
            order: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .button {
            order: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.input-last {
        .input {
            order: 1;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        .button {
            order: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}


@include for-size(phone-only) {
    .content-simple {
        display: flex;
        flex-direction: column;
        &.row {
            margin : 0;
        }
    }
    .content-simple-content {
        order: 0 !important;
    }
    .content-simple-image {
        order: 1;
    }
    .content-simple-image {
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .content-simple-buttons {
        flex-direction: column;
        align-items: center;
    }
    .input {
        width: initial !important;
        min-width: initial !important; 
    }
   
}

@include for-size(tablet-portrait-up) {
    .input-with-button {
        .input {
            width: initial !important;
            min-width: initial !important; 
        }
    }
}