@import "../common/styles";

// @include for-size(tablet-landscape-up) {
    .main-header-item {
        line-height: 110%;
        align-items: center;
        font-family: $font-family-montserrat;

        .navbar-link:not(.is-arrowless)::after {
            border-color: white;
            width: 10px;
            height: 10px;
            border-width: 2px;
        }

        &.primary {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            color: white;
        }

        &.primary-small {
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            color: white;
            cursor: default;
        }

        &.secondary-small {
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            color: #00AEEF;
            cursor: default;
        }

        &.primary {
            a {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                color: white;
            }
        }

        &.primary-small {
            a {
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                color: white;
            }
        }
    }

    .main-header-item:focus,  .main-header-item:focus-within {
        background-color: transparent !important; 
    }

    .main-header-item-image {
        margin-right: 10px;
        img {
            max-width: initial;
        }
    }

    .navbar-item.has-dropdown {
        align-items: center;
        .navbar-item {
            padding: .5rem 1rem;
        }
        .main-header-item {
            .navbar-link {
                padding: 0;
                font-weight: normal;
                color: #05121D;
                font-size: 17px;
            }
        }
        .navbar-dropdown {
            min-width: 260px;
        }
    }

    .navbar-item.has-dropdown:hover {
        .navbar-link {
            background: none;
        }
        .navbar-dropdown {
            border-radius: 17px;
            font-family: $font-family-open-sans;
            border: none;
            .navbar-link:not(.is-arrowless)::after {
                display: none;
            }
        }
    }

    .main-header-item:hover {
        background: none !important;
        &.primary {
            color: #00AEEF !important;
            .navbar-link:not(.is-arrowless)::after {
                border-color: #00AEEF !important;
            }
            .navbar-link {
                color: #00AEEF !important;
            }
        }

        &.primary-small {
            color: white
        }

        &.secondary-small {
            color: #00AEEF !important;
            .navbar-link:not(.is-arrowless)::after {
                border-color: #00AEEF !important;
            }
            .navbar-link {
                color: #00AEEF !important;
            }
        }

        .navbar-dropdown {
            .navbar-link {
                font-family: $font-family-open-sans;
                color: #05121D !important;
            }
        }
    }
// }
